.containerTempo{
    /* Estilizando */
    width: 60%;
    height: 30%;

    border-radius: 100%;
    border: 2px solid rgb(255, 55, 96);
    box-shadow: 8px 10px 2px 2px rgba(0, 0, 0, 0.384);
    
    color: rgb(255, 255, 255);

    /* Centralizando a div com o circulo Branco */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circuloBranco{
    /* Estilizando */
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;

    width: 90%;
    height: 90%;

    /* Centralizando o texto */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTempo p{
    /* Estilizando */
    font-size: 1.8rem;
    text-align: center;

    width: 100%;
    display: block;
    margin: 0px 10%;
}
