.containerBotoes{
    /* Estilizando */
    width: 50%;
    height: 25%;

    /* Centralizando botões */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBotoes button{
    /* Estilizando */
    background-color: rgb(255, 55, 96);
    border-radius: 100%;
    border: none;
    margin: 0% 10%;
    font-size: 1.3em;
    padding: 8%;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.384);
    outline: none;
    cursor: pointer;

    /* Centralizando os icones */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBotoes button:active{
    /* Mudando a cor do botão ao clicar */
    background-color: rgba(0, 0, 0, 0.384);
    color: rgb(255, 55, 96);
}

/* Aumentando o tamanho do botão de iniciar, para dar destaque */
button:nth-child(2){
    padding: 17%;
}

/* Ajustando responsividade */
@media (min-width: 599px){
    .containerBotoes button {
        /* Estilizando */
        font-size: 2em;
    }
}
